*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sideNav
    {
        height: 100vh;
    }
.profImg
    {
        padding: 5%;
        text-align: center;
        margin-bottom: 15%;
     }
.profImg img
    {
        width: 90%;
    }
/* .profImg h4
    {
        color: #fff;
    }*/
.navItem
    {
        align-items: center;
        /* color: #fff; */
    }
.navItem a
    {
        padding: 30px;
        text-decoration: none;
        /* color: white; */
        font-size: 1.2rem;
        font-weight: 500;
    }
.logout
    {
        /* color: #fff; */
        margin-top: 2rem;
        padding-left: 30px;
    }
.logout a
    {
        /* color: #fff; */
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
    }