@media screen and (max-width:1200px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 24rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar .order-count{
        padding: 0.1rem;
        margin-left: 0.4rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    /* main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    } */

    main .recent-order{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-order table{
        width: 83vw;
    }

    .right .recent-updates .updates{
        width: 300px;
    }

    .right .sales-analytics{
        width: 300px;
    }

} 

@media screen and (max-width: 768px){
    
}