/* ------------------ROOT---------------- */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
/* ========================DARK MODE ================= */
.dark-mode{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style:  none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}
body{
    width: 100%;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    gap: 1.9rem;
    grid-template-columns: 14rem auto;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}


aside{
    height: 100vh;
    background: var(--color-background);
}

aside .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--border-radius-3);
}
aside logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 5rem;
    height: 4rem;
}

aside .close{
    display: none;
}

/* =================================SIDEBAR================================ */

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    border-radius: var(--border-radius-3);
}

aside h3{
    font-weight: 500;
    margin-left: 15px;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a i{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100;
}
aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 25px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active i{
    color: var(--color-primary);
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover i{
    margin-left: 1rem;
}

aside .sidebar .order-count{
    background: var(--color-danger);
    color: var(--color-white);   
    padding: 2px 10px;
    margin-left: 40px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ====================FORM====================== */

.inputForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .inputForm form{
    width: 60%;
    display: grid;
    gap: 10px;
    grid-template-columns: 13rem 1fr;
    border: 2px solid var(--color-dark);
    border-radius: var(--card-border-radius);
    justify-content: last baseline;
    background: var(--color-white);
    margin: 30px;
    padding: 40px;
    box-shadow: var(--box-shadow);
}

main .inputForm form label{
    font-size: 1.2rem;
    text-align: left;
    margin-top: 10px;

}

main .inputForm form input{
    width: 90%;
    margin: 5px;
    height: 1.5rem;
    background: var(--color-light);
    border-radius: var(--card-border-radius);
    padding: var(--padding-1);
    color: var(--color-dark);
    text-shadow: var(--box-shadow);
}

main .inputForm form select{
    font-size: 20px;
    margin-left: 5px;
    border-radius: var(--card-border-radius);
    width: 9rem;
    color: var(--color-dark);
    padding: 3px ;
    text-align: center;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") var(--color-light)  98.5% !important;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")  var(--color-light) no-repeat calc(100% - 10px) !important; 
}

main .inputForm form select option{
    border-radius: var(--border-radius-1);
}

.button{
    grid-column: 2 span;
    display: flex;
    justify-content: space-around;
}

.button button{
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
}

.button button:hover{
    background: var(--color-dark);
    color: var(--color-white);
}

/* ========================TABLE========================  */
h1{
    font-size: 2rem;
    text-align: center;
}

.formTable{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.formTable table{
    width: 90%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.formTable table tr {
    background-color: var(--color-dark);
    color: var(--color-dark);
    text-align: left;
}

.formTable th,
.formTable td{
    padding: 12px 15px;
    color: var(--color-white);
}

.formTable tbody tr{
    border-bottom: 1px solid #dddddd;
}

.formTable tbody tr:nth-of-type(even) {
    background-color: var(--color-danger);
}

.formTable tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

.formTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}